/* Write a Sass file that assigns:

No margin or padding in body tags
Margin 10px to all of the p tags inside body tags
You must use nested declarations
*/
$zero: 0px;
$ten: 10px;
body {
    margin: $zero;
    padding: $zero;
    p {
        margin: $ten;
    }
}