/*
Write a Sass file that assigns:

Margin left and right at 10px to body tags
Margin left and right at 15px to div tags
You must use a mixin
*/
$bodyMargin: 10px;
$divMargin: 15px;
body {
    margin-left: $bodyMargin;
    margin-right: $bodyMargin;
}