/* mixin margins */
@mixin ten {
    margin-left: 10px;
    margin-right: 10px;
}

@mixin five {
    margin-left: 15px;
    margin-right: 15px;
}

body {
    @include ten;
}

div {
    @include five;
}
